.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title__advantages {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
  padding-top: 30px;
}
.features-item:not(:first-child) {
  padding-left: 30px;
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
}
.features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: contain;*/
  border-radius: 4px;
}

.features-item.antena::before {
  background-image: url('../images/Feautures/antena.svg.svg');
}

.features-item.clock::before {
  background-image: url('../images/Feautures/clock.svg.svg');
}
.features-item.diagram::before {
  background-image: url('../images/Feautures/diagram.svg.svg');
}
.features-item.astronaut::before {
  background-image: url('../images/Feautures/astronaut.svg.svg');
}

.features-desc__title-advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  width: 270px;
}
