.section.team {
  background: #f5f4fa;
}
.wraper-team {
  padding-bottom: 47px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 54px;
}
.team__item {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list {
  display: flex;
  flex-wrap: nowrap;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #212121;
}
/*.title-advantages {
  padding-bottom: 10px;
}*/

.team-title__wraper {
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.team__profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: #757575;
  margin-bottom: 30px;
}
